.about-container {
  padding: 80px 15px 0; /* Add top padding to account for the sticky header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure full viewport height */
}

.about-content {
  margin-right: 5rem; /* Adjusting margin to the right */
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Adjust vertical gap between elements */
  max-width: 1200px; /* Limit content width */
}

.about-image-container {
  /* Ensure image width is visually clear to the user */
  width: 100%;
  max-width: 600px; /* Limit image container width */
  margin-top: 2rem; /* Add margin for spacing */
}

.about-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; /* Optional: Add border radius to image */
}

.about-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem; /* Add margin bottom for spacing */
  text-align: justify; /* Center align title */
}

@media (max-width: 768px) {
  .about-container {
    padding: 60px 10px 0; /* Adjust top padding for smaller screens */
  }

  .about-content {
    margin-right: 0; /* Resetting margin for smaller screens */
    padding: 0 10px;
  }

  .about-image-container {
    max-width: 100%; /* Full width for smaller screens */
    margin-top: 1rem; /* Adjust margin for smaller screens */
  }

  .about-title {
    font-size: 2rem;
  }
}
