.hero-section {
    height: 100vh; /* Ensure hero section covers full viewport height */
    width: 100%; /* Ensure full width of viewport */
    margin: 0;
    padding: 0;
    background-image: url('../images/pexels-photo-2680270.webp'); /* Set background image */
    background-size: cover; /* Cover entire div with image */
    background-position: center; /* Center align the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  
  .hero-section .container {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .hero-section h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
  }
  
  .rectangular-container {
    margin-top: 2rem;
  }
  
  .photo-container {
    padding: 8px; /* Adjust padding to control border width */
    border-radius: 50%;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #e6683c);
  }
  
  @media (max-width: 768px) {
    .hero-section h1 {
      font-size: 1.8rem;
    }
  
    .rectangular-container {
      margin-top: 1rem;
    }
  }
  