.custom-skills-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
  text-align: center; /* Center align the content */
}

.custom-skills-heading {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 2.5rem;
  color: #333; /* Dark color for heading */
}

.custom-skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
  gap: 2rem; /* Increased space between grid items */
  list-style: none;
  padding: 0;
  justify-content: center; /* Center align the grid items */
}

.custom-skill-item {
  padding: 1.5rem;
  border: 1px solid #ddd; /* Lighter border */
  border-radius: 12px;
  background-color: #fff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-skill-item:hover {
  transform: translateY(-4px); /* Lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-skill-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333; /* Dark color for title */
}

.skill-description {
  margin-top: 1rem;
  text-align: left; /* Align description text left */
  display: none;
}

.skill-description.expanded {
  display: block;
}

@media (max-width: 768px) {
  .custom-skills-heading {
    font-size: 2rem;
  }

  .custom-skill-title {
    font-size: 1.2rem;
  }

  .custom-skills-list {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    gap: 1.5rem; /* Adjusted gap for smaller screens */
  }

  .custom-skill-item {
    padding: 1.2rem;
  }
}
