@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff; /* Pure white background color */
}

.header, .footer {
  font-family: 'Roboto', sans-serif;
}

/* .main-content {
  padding: 20px;
} */

/* Responsive design */
@media (max-width: 768px) {
  .main-content {
    padding: 10px;
  }
}
