.my-navbar {
    padding: 10px 0; /* Adjust padding as needed */
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Adjust font size as needed */
  }
  
  .nav-link {
    font-size: 1rem; /* Adjust font size as needed */
    color: #ffffff; /* White text color */
    margin-left: 15px; /* Adjust margin between links */
  }
  
  .nav-link:hover {
    color: #f8f9fa; /* Light grey text color on hover */
  }
  
  @media (max-width: 991px) {
    .navbar-brand {
      font-size: 1.3rem; /* Adjust font size for smaller screens */
    }
  
    .nav-link {
      font-size: 0.9rem; /* Adjust font size for smaller screens */
      margin-left: 10px; /* Adjust margin between links for smaller screens */
    }
  }
  